@CHARSET "ISO-8859-1";
body{
	height:700px;
	width:1400px;
	background-image:url("Home-Service-Provider.jpg");
}
.SignupContent{
	
	height:850px;
	width:1420px;
	display:inline-block;
	background-color: rgba(165, 42, 42, 0.64);
	border-top: 0px;
    padding-top: 0px;
	
	}
	form{
	font-family:cursive;
	font-weight: bold;
	font-size: large;
	padding-top:250px;
	padding-left:550px;
	display:inline-block;
	}
.usernamefield{
	border-bottom: 5px;
}